<form class="form">
    <!-- login fields start -->
        <div class="fields">
        <!-- email field -->
            <div class="container-email">
                <label class="label" for="email"><b>Email</b></label>
                <input class="input" type="email" name="email" required>
            </div>
        <!-- password field -->
            <div class="container-password">
                <label class="label" for="password"><b>Password</b></label>
                <input class="input" type="password" name="password" required>
            </div>
        <!-- login button -->
            <button id="btnLogin" class="btn-login" type="submit">Login</button>
        </div>
    <!-- login fields end -->
                        
    <!-- other options start -->
        <div class="options">
        <!-- cancel button -->
            <button type="button" onclick="document.getElementById('modalLogin').style.display='none'" class="btn-cancel">Cancel</button>
        </div>
    <!-- other options end -->
</form>