<form class="form">
    <h2>New Post</h2>
    <!-- sign-up fields start -->
        <div class="fields">
        <!-- subject field -->
            <div class="container-subject">
                <input class="input" type="text" name="subject" placeholder="Subject" required>
            </div>
        <!-- body field -->
            <div class="container-body">
                <input class="input" type="body" name="body" placeholder="Body" required>
            </div>
        <!-- music genre field -->
            <select class="music-genre" aria-label="Default select example">
                <option selected>Select Music Genre</option>
                <option value="1">Rock</option>
                <option value="2">Hip Hop</option>
                <option value="3">Jazz</option>
                <option value="4">Pop</option>
                <option value="5">Country</option>
            </select>
        </div>
    <!-- sign-up fields end -->
                                            
    <!-- other options start -->
        <div class="options">
            <button id="btnNewPost" class="btn-new-post" type="submit">Create Post</button>
        </div>
    <!-- other options end -->
</form>