<form class="form">
    <h2>New Post</h2>
    <!-- sign-up fields start -->
        <div class="fields">
        <!-- artist field -->
            <div class="container-artist">
                <input id="post-artist" class="input" type="text" name="artist" placeholder="Artist">
            </div>
        <!-- title field -->
            <div class="container-title">
                <input id="post-title" class="input" type="text" name="title" placeholder="Title">
            </div>
        <!-- music genre field -->
            <select id="post-genre" class="music-genre" aria-label="Default select example">
                <option selected>Select Music Genre</option>
                <option value="1">Rock</option>
                <option value="2">Hip Hop</option>
                <option value="3">Jazz</option>
                <option value="4">Pop</option>
                <option value="5">Country</option>
            </select>
        </div>
    <!-- sign-up fields end -->
                                            
    <!-- other options start -->
        <div class="options">
            <button id="btnNewPost" class="btn-new-post" type="submit">Create Post</button>
        </div>
    <!-- other options end -->
</form>