<form class="form">
    <h2>New Post</h2>
    <!-- sign-up fields start -->
        <div class="fields">
        <!-- title field -->
            <div class="container-title">
                <input class="input" type="text" name="title" placeholder="Title" required>
            </div>
        <!-- content field -->
            <div class="container-content">
                <input class="input" type="content" name="content" placeholder="Content" required>
            </div>
        <!-- music genre field -->
            <select class="music-genre" aria-label="Default select example">
                <option selected>Select Music Genre</option>
                <option value="1">Rock</option>
                <option value="2">Hip Hop</option>
                <option value="3">Jazz</option>
                <option value="4">Pop</option>
                <option value="5">Country</option>
            </select>
        </div>
    <!-- sign-up fields end -->
                                            
    <!-- other options start -->
        <div class="options">
            <button id="btnNewPost" class="btn-new-post" type="submit">Create Post</button>
        </div>
    <!-- other options end -->
</form>