<div id="post" class="post">
    <div id="userInfo" class="user-info">
        <h4 id="postUsername" class="post-username">Username</h4>
        <p id="postLocation" class="post-username">Location</p>
        <p id="postTime" class="post-username">Time</p>
    </div>
    <div id="postImg" class="post-img">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
    </div>
    <div id="postBody" class="post-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam vulputate ut pharetra sit amet. Eu nisl nunc mi ipsum.
        </p>
    </div>
</div>