<div class="container">
<form>
    <!-- sign in fields start -->
        <div class="fields">
        <!-- email field -->
            <div class="container-email my-4">
                <input class="input shadow-inner" type="email" name="email" placeholder="Email/Username" required>
            </div>
        <!-- password field -->
            <div class="container-password">
                <input class="input shadow-inner" type="password" name="password" placeholder="Password" required>
            </div>
        </div>
    <!-- sign in fields end -->
                        
    <!-- options start -->
        <div class="options">
            <!-- sign in button -->
            <div>
                <button id="btnSignIn" class="btn-dark-mode my-6" type="submit">Welcome Back</button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw"><a href="#">Forgot Password</a></span>
        </div>
    <!-- options end -->
</form>
</div>