<form class="form">
    <h2>Welcome Back</h2>
    <!-- sign in fields start -->
        <div class="fields">
        <!-- email field -->
            <div class="container-email">
                <input class="input" type="email" name="email" placeholder="Email/Username" required>
            </div>
        <!-- password field -->
            <div class="container-password">
                <input class="input" type="password" name="password" placeholder="Password" required>
            </div>
        </div>
    <!-- sign in fields end -->
                        
    <!-- options start -->
        <div class="options">
            <!-- sign in button -->
            <div>
                <button id="btnSignIn" class="btn-sign-in" type="submit">Sign In</button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw"><a href="#">Forgot Password</a></span>
        </div>
    <!-- options end -->
</form>