<form class="form">
    <h2>Sign Up</h2>
    <!-- sign-up fields start -->
        <div class="fields">
        <!-- first-name field -->
            <div class="container-first-name">
                <input class="input" type="text" name="first-name" placeholder="First Name">
            </div>
        <!-- last-name field -->
            <div class="container-last-name">
                <input class="input" type="text" name="last-name" placeholder="Last Name">
            </div>
        <!-- bio field -->
            <div class="container-bio">
                <input class="input" type="text" name="bio" placeholder="Bio">
            </div>
        <!-- username field -->
            <div class="container-username">
                <input class="input" type="text" name="username" placeholder="Username" required>
            </div>
        <!-- email field -->
            <div class="container-email">
                <input class="input" type="email" name="email" placeholder="Email" required>
            </div>
        <!-- password field -->
            <div class="container-password">
                <input class="input" type="password" name="password" placeholder="Password" required>
            </div>
        <!-- music genre field -->
            <select class="music-genre" aria-label="Default select example">
                <option selected>Select Music Genre</option>
                <option value="1">Rock</option>
                <option value="2">Hip Hop</option>
                <option value="3">Jazz</option>
                <option value="4">Pop</option>
                <option value="5">Country</option>
            </select>
        </div>
    <!-- sign-up fields end -->
                                            
    <!-- other options start -->
        <div class="options">
            <button id="btnSignUp" class="btn-sign-up" type="submit">Create Account</button>
        </div>
    <!-- other options end -->
</form>