<main class="feed">
    <!-- header starts -->
    <header class="header">
        <h2>Feed</h2>
    </header>
    <!-- header ends -->
    
    <!-- posts start -->
        <section class="feed">
            <ol class="post-list">
                <!-- posts array -->
                {{#each posts as |post|}}
                <li>
                    {{> post-info post }}
                </li>
                {{/each}}
            </ol>
        </section>
    <!-- posts end -->

    <!-- navigation starts -->
        <nav class="nav">
            {{#if loggedIn}}
            <a href="/dashboard">Account</a>
            <button class="btn-new-post" onclick="document.getElementById('modalNewPost').style.display='block'">Create Post</button>
            {{else}}
            <a href="/">Login/Sign-Up</a>
            {{/if}}
        </nav>
    <!-- navigation ends -->

    <!--Feed List-->


    <!-- new-post modal starts -->
        <section id="modalNewPost" class="modal-new-post">
            <span onclick="document.getElementById('modalNewPost').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{> new-post }}
        </section>
    <!-- new-post modal ends -->
</main>