<main class="homepage">
    <!-- logo starts -->
        <section class="my-20">
            <a href="https://placeholder.com"><img src="/stylesheets/svg/Dark-mode-logo.svg" class="logo"></a>
        </section>
    <!-- logo ends -->

    <!-- buttons start -->
        <section class="container-btn">
            <div class="text-center">
                <button class="btn-sign-in mb-4" onclick="document.getElementById('modalSignIn').style.display='none'">Sign In</button>
            </div>

            <div class="text-center">
                <button class="btn-sign-up" onclick="document.getElementById('modalSignUp').style.display='none'">Sign Up</button>
            </div>    
            {{!-- <button id="btnFacebook" class="btn-facebook">Sign in with Facebook</button> --}}
        </section>
 
    <!-- buttons end -->


    <!-- sign-in modal starts -->
        <section id="modalSignIn" class="modal-sign-in">
            <span onclick="document.getElementById('modalSignIn').style.display='none'" class="close" title="Close Modal">&times;</span>

            {{> sign-in }}
        </section>
    <!-- sign-in modal ends -->

    <!-- sign-up modal starts -->
        <section id="modalSignUp" class="modal-sign-up">
            <span onclick="document.getElementById('modalSignUp').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{ sign-up }}
        </section>
    <!-- sign-up modal ends -->
</main>

<!-- js/scripts start -->
    <script src="/javascript/login.js"></script>
<!-- js/scripts end -->