<main class="homepage">
    <!-- logo starts -->
        <section>
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        </section>
    <!-- logo ends -->

    <!-- buttons start -->
        <section class="container-btn">
            <button class="btn-sign-in" onclick="document.getElementById('modalSignIn').style.display='block'">Sign In</button>
            <button class="btn-sign-in" onclick="document.getElementById('modalSignUp').style.display='block'">Sign Up</button>
        </section>
    <!-- buttons end -->

    <!-- sign-in modal starts -->
        <section id="modalSignIn" class="modal-sign-in">
            <span onclick="document.getElementById('modalSignIn').style.display='none'" class="close" title="Close Modal">&times;</span>

            {{> sign-in }}
        </section>
    <!-- sign-in modal ends -->

    <!-- sign-up modal starts -->
        <section id="modalSignUp" class="modal-sign-up">
            <span onclick="document.getElementById('modalSignUp').style.display='none'" class="close" title="Close Modal">&times;</span>
            
            {{> sign-up }}
        </section>
    <!-- sign-up modal ends -->
</main>
